header{
	background-color:blue;
	height:200px;
	padding: 0;
	margin: 0;
	width:100%;
	
}


footer{

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  width:100%;
  text-align: center;
	
}
#menu{
	width:50%;
	height:80px;
	float:right;
	background-color:red;
	margin:3%;
}
#menubocadillo{
	width:30px;
	height:30px;
	float:right;
	background-color:orange;
	margin:3%;
	display:none;
}
#logogrande{
	width:30%;
	height:100px;
	float:left;
	background-color:violet;
	margin:2.5%;
	
}

#logopequeno{
	width:100px;
	height:100px;
	float:left;
	background-color:orange;
	margin:2.5%;
	display:none;
	**visibility:hidden;
	
}
nav{
	background-color:green;
	height:900px;
	width:100%;
}
@media(max-width:1500px){ 

header { 

height: 175px; 

} 


} 
@media(max-width:1100px){ 

header { 

height: 150px; 

} 

#menu{
	visibility:hidden;
}
#logogrande{
	
	visibility:hidden;

}
#logopequeno{
	display:flex;
	
	
	
}
#menubocadillo{
	display:flex;
}

} 


@media(max-width:800px){ 

header { 

height: 125px; 

} 
#logopequeno{
	width:100px;
	height:100px;
	
	
}

} 
@media(max-width:600px){ 

header { 

height: 100px; 


} 
#logopequeno{
	width:60px;
	height:60px;
	
	
}

} 